<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>A simple Java application to manage students and courses for a university</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="175" header="University" collapsible="true">
                    <!-- Left-hand side navigation menu -->
                    <h:form>
                        <p:menu>
                            <p:submenu label="Resources">
                                <p:menuitem value="View all students"
                                            actionListener="#{navigationManagedBean.showStudentsPanel()}"
                                            update=":mainGroup"/>
                                <p:menuitem value="View all courses"
                                            actionListener="#{navigationManagedBean.showCourcesPanel()}"
                                            update=":mainGroup"/>
                                <p:menuitem value="Binary Tree"
                                            actionListener="#{navigationManagedBean.showTreesPanel()}"
                                            update=":mainGroup"/>
                            </p:submenu>

                        </p:menu>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <!-- Main content area -->
                    <h:panelGroup id="mainGroup">
                        <h:panelGroup rendered="#{navigationManagedBean.isStudentsVisisble}">
                            <!-- A partial to work with students data -->
                            <h2>Operations with Students</h2>
                            <p:dataTable var="student" rows="5"
                                         paginator="true"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15"
                                         value="#{studentsManagedBean.students}"
                                         id="studentsTable"
                                         selectionMode="single"
                                         rowKey="#{student.id}"
                                         >
                                <p:ajax event="rowDblselect"
                                        update=":addStudentDlg"
                                        oncomplete="PF('addStudentDlg').show();"
                                        listener="#{studentsManagedBean.selectStudent}"/>
                                <p:column headerText="id" width="10">
                                    <h:outputText value="#{student.id}"/>
                                </p:column>
                                <p:column headerText="First Name">
                                    <h:outputText value="#{student.firstName}"/>
                                </p:column>
                                <p:column headerText="Last Name">
                                    <h:outputText value="#{student.lastName}"/>
                                </p:column>
                                <p:column headerText="E-mail">
                                    <h:outputText value="#{student.email}"/>
                                </p:column>
                                <p:column headerText="Year" width="30">
                                    <h:outputText value="#{student.year}"/>
                                </p:column>
                                <p:column headerText="Enrollment" width="85">
                                    <p:commandLink value="Enroll"
                                                   update=":enrollStudentDlg"
                                                   oncomplete="PF('enrollStudentDlg').show();"
                                                   actionListener="#{studentsManagedBean.updateStudentWithCourseData(student)}"
                                                   >
                                        <f:setPropertyActionListener
                                            value="#{student}"
                                            target="#{studentsManagedBean.student}" />
                                    </p:commandLink>
                                </p:column>
                                <p:column headerText="Delete" width="50">
                                    <p:commandLink value="Delete"
                                                   update=":studentsTable"
                                                   actionListener="#{studentsManagedBean.deleteStudent(student)}"/>
                                </p:column>
                            </p:dataTable>
                            <p>
                            <p:commandButton value="Add Student"
                                             actionListener="#{studentsManagedBean.createStudent}"
                                             update=":addStudentDlg"
                                             oncomplete="PF('addStudentDlg').show();"
                                             >
                            </p:commandButton>
                            </p>
                        </h:panelGroup>
                        <!-- A partial to work with course data. -->
                        <h:panelGroup rendered="#{navigationManagedBean.isCoursesVisible}">
                            <h2>Operations with Courses</h2>
                            <p>
                            <p:commandButton value="Add Course"
                                             actionListener="#{coursesManagedBean.createCourse}"
                                             oncomplete="PF('addCourseDlg').show();"
                                             update="addCourseDlg"
                                             />
                            </p>
                            <p:dataTable var="course" id="coursesTable"
                                         value="#{coursesManagedBean.courses}"
                                         paginator="true" rows="3"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="3,9,15">
                                <p:column headerText="Id" width="15">
                                    <h:outputText value="#{course.id}"/>
                                </p:column>
                                <p:column headerText="Name" width="200">
                                    <h:outputText value="#{course.name}"/>
                                </p:column>
                                <p:column headerText="Description">
                                    <h:outputText value="#{course.description}"/>
                                </p:column>
                                <p:column headerText="Credits" width="50">
                                    <h:outputText value="#{course.credits}"/>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                        <!-- A partial to work with trees. -->
                        <h:panelGroup rendered="#{navigationManagedBean.isTreesVisible}"
                                      id="treePanel">
                            <h2>Operations with Trees</h2>
                            <h:form>
                                <!--p:growl/-->
                                <h:panelGrid columns="3">
                                    <p:outputLabel for="tree"
                                                   value="Tree"/>
                                    <p:inputText id="tree"
                                                 value="#{treesManagedBean.treeData}"
                                                 required="true">
                                        <f:validateRegex pattern="^[1-9][0-9, ]+"/>
                                    </p:inputText>
                                    <p:commandButton value="Generate Tree"
                                                     actionListener="#{treesManagedBean.generateTree}"
                                                     update=":treePanel"/>

                                    <p:outputLabel for="number"
                                                   value="A number to find"/>
                                    <p:inputText id="number"
                                                 value="#{treesManagedBean.number}"
                                                 required="true">
                                    </p:inputText>
                                    <p:commandButton value="Find"
                                                     actionListener="#{treesManagedBean.findLevels}"
                                                     disabled="#{treesManagedBean.findDisabled}"
                                                     update=":treePanel"/>
                                </h:panelGrid>
                            </h:form>
                            <p>
                                Levels
                            </p>
                            <p:dataTable var="level"
                                         value="#{treesManagedBean.levels}"
                                         id="levelsTable"
                                         emptyMessage="Number was not found in the tree provided.">
                                <p:column>
                                    <h:outputText value="#{level}"/>
                                </p:column>
                            </p:dataTable>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
    <!-- A dialog for editing students -->
    <p:dialog header="Add a Student"
              widgetVar="addStudentDlg"
              id="addStudentDlg"
              modal="true" height="300"
              width="400">
        <h:form>
            <h:outputText value="Add Student Data." />
            <h:panelGrid columns="3">
                <p:outputLabel for="firstName" value="First Name"/>
                <p:inputText required="true"
                             value="#{studentsManagedBean.student.firstName}"
                             id="firstName"/>
                <p:message for="firstName"/>

                <p:outputLabel for="lastName" value="Last Name"/>
                <p:inputText required="true"
                             value="#{studentsManagedBean.student.lastName}"
                             id="lastName"/>
                <p:message for="lastName"/>

                <p:outputLabel for="email" value="E-mail"/>
                <p:inputText required="true"
                             value="#{studentsManagedBean.student.email}"
                             id="email"/>
                <p:message for="email"/>

                <p:outputLabel for="year" value="Year"/>
                <p:inputText required="true"
                             value="#{studentsManagedBean.student.year}"
                             id="year"/>
                <p:message for="year"/>
            </h:panelGrid>

            <p:commandButton onclick="PF('addStudentDlg').hide();"
                             value="Cancel"/>
            <p:commandButton oncomplete="PF('addStudentDlg').hide();"
                             value="Save"
                             actionListener="#{studentsManagedBean.addStudent}"
                             update=":studentsTable"/>
        </h:form>
    </p:dialog>
    <!-- A dialog for editing courses -->
    <p:dialog header="Add a Course"
              widgetVar="addCourseDlg"
              id="addCourseDlg"
              modal="true" height="300"
              width="400">
        <h:form>
            <h:outputText value="Add Course Data." />
            <h:panelGrid columns="3">
                <p:outputLabel for="courseName" value="Name"/>
                <p:inputText id="courseName"
                             required="true"
                             value="#{coursesManagedBean.course.name}"/>
                <p:messages for="courseName"/>

                <p:outputLabel for="courseDescription" value="Description"/>
                <p:inputTextarea id="courseDescription"
                                 required="true"
                                 value="#{coursesManagedBean.course.description}"
                                 rows=""
                                 cols=""/>
                <p:messages for="courseDescription"/>

                <p:outputLabel for="courseCredits" value="Credits"/>
                <p:inputText id="courseCredits"
                             required="true"
                             value="#{coursesManagedBean.course.credits}"/>
                <p:messages for="courseCredits"/>
            </h:panelGrid>

            <p:commandButton onclick="PF('addCourseDlg').hide();"
                             value="Cancel"/>
            <p:commandButton oncomplete="PF('addCourseDlg').hide();"
                             value="Save"
                             actionListener="#{coursesManagedBean.saveCourse}"
                             update=":coursesTable"/>
        </h:form>
    </p:dialog>
    <!-- A dialog to enroll students to courses. -->
    <p:dialog id="enrollStudentDlg"
              widgetVar="enrollStudentDlg"
              header="Enroll for a Course"
              modal="true" height="500"
              width="400">
        <h:form>
            <p:dataTable var="course" id="coursesTable"
                         value="#{studentsManagedBean.student.courses}"
                         paginator="true" rows="3"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="3,9,15">
                <p:column headerText="Id" width="15">
                    <h:outputText value="#{course.id}"/>
                </p:column>
                <p:column headerText="Name" width="200">
                    <h:outputText value="#{course.name}"/>
                </p:column>
            </p:dataTable>
            <h:panelGrid columns="2">
                <p:outputLabel for="courseList" value="Course list"/>
                <p:selectOneListbox id="courseList"
                                    value="#{studentsManagedBean.course}"
                                    converter="courseConverter"
                                    var="c"
                                    filter="true"
                                    filterMatchMode="contains"
                                    scrollHeight="180">
                    <f:selectItems value="#{coursesManagedBean.courses}"
                                   var="course"
                                   itemLabel="#{course.name}"
                                   itemValue="#{course}" />
                    <p:column>
                        <h:outputText value="-"/>
                    </p:column>
                    <p:column>
                        <h:outputText value="#{c.name}" />
                    </p:column>
                </p:selectOneListbox>
            </h:panelGrid>
            <p>
            <p:commandButton onclick="PF('enrollStudentDlg').hide();"
                             value="Cancel"/>
            <p:commandButton oncomplete="PF('enrollStudentDlg').hide();"
                             value="Enroll"
                             actionListener="#{studentsManagedBean.enroll}"
                             update=":coursesTable"/>
            </p>
        </h:form>
    </p:dialog>
</html>

